<div id="gameboard" ng-app="Game-Of-Fitness-App">

  <div class="wod" ng-controller="WorkoutsController">

    <header class="content">
      <div>
        <h1 class="is-medium">Workout Of The Day</h1>
      </div>
    </header>

    <!-- <h4> Card Name: {{ card.name }}</h4>
    <p> Mana: {{ card.mana }}</p> -->

        <div id="board" class="container content">
          <h2><%= link_to "Profile Page", profile_path %></h2>
          <button id="shuffle" ng-click="shuffle()" class="button">Randomize</button>

          <ul class="cards">
            <li>
              <span id="card" ng-repeat="card in cards" ng-click="toggleClassName($event, 'isactive')">

              <img ng-src='/assets/{{card.img}}'/>

<!-- BUTTON IS COMMENTED OUT FOR STYLING - NEED TO COMBO INTO CARD ITSELF -->
              <!-- <button ng-click="addToScore(card.mana, card.id)">Add to Mana</button> -->

              </span>
            </li>
          </ul>

          <div class="columns is-gapless is-centered">

              <div class="loot is-one is-centered"></div>


              <div class="loot is-one is-centered"></div>


              <div class="loot is-one is-centered"></div>


              <div class="loot is-one is-centered"></div>

          </div>

            <div id="loot-gen">
              <button class="button" ng-click="generateLoot()">Gimme Loot!</button>
            </div>

        </div>
      </div>

</div>
