<div id="gameboard" ng-app="Game-Of-Fitness-App">

  <div class="wod" ng-controller="WorkoutsController">
<!-- WOD Header -->
    <header class="content">
      <div>
        <h1 class="is-medium">Workout Of The Day</h1>
      </div>
    </header>
<!-- Game Board. In subesequent versions, I want 13 cards per round; 4 rounds. I also want to add a dupe of the Bag of Holding on the right side. -->
    <div id="board" class="container content">
      <h2><%= link_to "Profile Page", profile_path %></h2>
<!-- Randomize cards button -->
        <button id="shuffle" ng-click="shuffle()" class="button">Randomize</button>
          <ul class="cards">
            <li>
              <span id="card" ng-repeat="card in cards" ng-click="toggleClassName($event, 'isactive')">
                <img ng-src='/assets/{{card.img}}' ng-click="addToScore(card.mana, card.id)"/>
              </span>
            </li>
          </ul>
<!-- The loot you win after each round is completed (v2) or all cards are complete (v1.5) -->
        <!-- <div class="columns is-gapless is-centered">
          <div class="loot is-one is-centered"></div>
          <div class="loot is-one is-centered"></div>
          <div class="loot is-one is-centered"></div>
          <div class="loot is-one is-centered"></div>
        </div> -->
    <!-- Generate loot button.  -->
        <div id="loot-gen">
          <button class="button is-disabled" ng-click="generateLoot()">Gimme Loot!</button>
        </div>
    </div>
  </div>
</div>
