  <div class="column is-half is-offset-one-quarter">
<!-- Landing page welcome headline -->
    <article id="welcome">
      <h1>Game Of Fitness</h1>
    </article>
<!-- Welcome page rules box -->
    <article id="rules-front">
      <h2>Welcome Nerds!</h2>
      <p class="content is-medium">Let's play a game - a fitness game. Your mission, should you choose to accept it, is to level up your fitness - one (not-so-standard) deck of cards at a time. </p>
      <p class="content is-medium">Each card you complete earns mana points (for example: a card requiring 2 reps earns 2 mana; one requiring 25 reps earns 25 mana) and each completed deck earns you inventory.</p>
      <!-- <p>You can cash out after any round, but keep in mind ... </p> -->
      <p class="content is-medium">The more mana you get; the quicker you'll earn a boss battle level - plus, the more inventory you accrue; the better you'll do.  </p>
      <p class="content is-medium">Sign up, pick your class & guild, and get to work! </p>
      <h2><%= link_to "Sign Up", new_user_path %></h2>
      <h2><%= link_to "Log In", log_in_path %></h2>
    </article>

  </div>
