@font-face {
  font-family: 'gOT';
  src: url('Game_of_Thrones.ttf');
  src: url('Game_of_Thrones') format('truetype');
}

@font-face {
  font-family: 'game';
  src: url('Pixel_Azure_Bonds.otf');
  src: url('Pixel_Azure_Bonds') format('opentype');
}

body {
  background-image: url('cache.jpeg');
  /*background-image: <%= image_tag("cache.jpeg") %>;*/
}

h1 {
  font-family: 'gOT', serif;
  letter-spacing: 0.10em;
  color: goldenrod;
}

h4  {
  font-family: 'game', sans-serif;
  color: green;
}

p {
  font-family: 'PT Sans', sans-serif;
}

.left-box {
  float:left;
}

.avatar {
  width: 20%;
  height: 20%;
  border: 1px solid black;
  margin: 3%;
  background-color: snow;
  float: left;
}

.stats {
  width: 20%;
  height: 30%;
  border: 1px solid black;
  margin: 3%;
  background-color: snow;
  float: left;
  padding: 1%;
}

.rules {
  width: 40%;
  height: 30%;
  border: 1px solid black;
  margin: 3%;
  margin-top: 20%;
  padding: 2%;
  background-color: moccasin;
  float: left;
}

.bag-of-holding {
  width: 30%;
  height: 80%;
  border: 1px solid black;
  margin: 3%;
  background-color: moccasin;
  float: right;
  text-align: center;
  padding: 1%;
}

.clear {
  float: none;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
