
html, body {
  position: absolute; top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  min-height: 100% !important;
  background-image: url('cache.jpeg') !important;
}

@font-face {
  font-family: 'gOT';
  src: url('Game_of_Thrones.ttf');
  src: url('Game_of_Thrones') format('truetype');
}

@font-face {
  font-family: 'game';
  src: url('Pixel_Azure_Bonds.otf');
  src: url('Pixel_Azure_Bonds') format('opentype');
}

h1 {
  font-family: 'gOT', serif;
  letter-spacing: 0.10em;
  color: goldenrod !important;
}

h2  {
  font-family: 'game', sans-serif;
  color: green !important;
  text-align: center;
}

a {
  text-decoration: none !important;
  color: green !important;
}

h4  {
  font-family: 'game', sans-serif;
  color: green !important;
}

.game {
  font-family: 'game', sans-serif;
  color: green !important;
  font-size: 1em;
}

p {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}

li {
  list-style-type: none;
}

#welcome {
  text-align: center;
  padding: 3%;
  color: goldenrod;
  margin-top: 5%;
  font-size: 3em;
}

#login-welcome {
  text-align: center;
  padding: 3%;
  color: goldenrod;
  margin-top: 5%;
  font-size: 1em;
}

#avatar {
  width: 150px;
  height: 150px;
  border: 3px solid goldenrod;
  border-radius: 25px;
  margin-left: 20%;
}

#stats {
  border: 3px solid goldenrod;
  border-radius: 25px;
  margin: 3%;
  background-image: url('parchment.jpg');
  padding: 5%;
  line-height: 1.5;
}

#rules {
  border: 3px solid goldenrod;
  border-radius: 25px;
  margin: 3%;
  padding: 2%;
  background-image: url('parchment.jpg');
}

#rules-front {
  border: 3px solid goldenrod;
  border-radius: 25px;
  margin-bottom: 20%;
  padding: 5% 10% 5% 10%;
  background-image: url('parchment.jpg');
}

#rules-front h2 {
  font-size: 2em;
}

#bag-of-holding {
  border: 3px solid goldenrod;
  border-radius: 25px;
  margin: 3%;
  background-image: url('parchment.jpg');
  text-align: center;
  padding: 1%;
}

.loot-box {
  width: 64px;
  height: 64px;
  border: 3px solid goldenrod;
  border-radius: 5%;
  margin: 5%;
  margin: 10% auto;
}

.loot {
  width: 64px;
  height: 64px;
  border: 3px solid goldenrod;
  border-radius: 5%;
  margin: 0 auto;
  margin: 3%;
  text-align: center;
}

#login {
  width: 70%;
  height: 90%;
  border: 3px solid goldenrod;
  border-radius: 25px;
  margin-bottom: 200px;
  padding: 5% 10% 5% 10%;
  background-image: url('parchment.jpg');
  text-align: center;
  margin: 0 auto;
}

#login h2 {
  font-size: 2em;
}

#gameboard header {
  text-align: center;
  margin: 0 auto;
  padding-top: 5%;
  color: goldenrod;
}

#board {
  background-image: url('parchment.jpg');
  padding-top: 3%;
  padding-bottom: 10%;
  text-align: center;
  border: 3px solid goldenrod;
  border-radius: 25px;
  margin-bottom: 20%;
}

#shuffle {
  margin: 0 auto;
}

#card img {
  width: 200px;
  height: 270px;
  margin: 2%;
}

#card li {
  display: inline;
  float: left;
  list-style-type: none;
  margin: 5%;
  padding: 5%;
}

#done {
  text-align: center;
  margin: 0 auto;
}

#loot-gen {
  display:inline;
}

.isactive {
  border: 5px solid goldenrod;
  opacity: 50%;
  background-color: lightgrey;
  padding: 1%;
  border-radius: 25px;
}



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
