@font-face {
  font-family: 'gOT';
  src: url('Game_of_Thrones.ttf');
  src: url('Game_of_Thrones') format('truetype');
}

@font-face {
  font-family: 'game';
  src: url('Pixel_Azure_Bonds.otf');
  src: url('Pixel_Azure_Bonds') format('opentype');
}


.wrapper {
  background-image: url('cache.jpeg');
}

h1 {
  font-family: 'gOT', serif;
  letter-spacing: 0.10em;
  color: goldenrod !important;
  /*font-size: 2em;*/
}

h2  {
  font-family: 'game', sans-serif;
  color: green;
  text-align: center;
}

a {
  text-decoration: none;
  color: green;
}

h4  {
  font-family: 'game', sans-serif;
  color: green;
}

.game {
  font-family: 'game', sans-serif;
  color: green;
  font-size: 1em;
}

p {
  font-family: 'PT Sans', sans-serif;

}

li {
  list-style-type: none;
}

#welcome {
  padding: 5%;
}
#avatar {
  width: 150px;
  height: 150px;
  border: 3px solid goldenrod;
  border-radius: 10%;
  margin: 3%;
}

#stats {
  border: 3px solid goldenrod;
  border-radius: 10%;
  margin: 3%;
  background-image: url('parchment.jpg');
  padding: 5%;
  line-height: 2;
  /*font-size: 20px;*/
}

#rules {
  border: 3px solid goldenrod;
  border-radius: 5%;
  margin: 3%;
  padding: 2%;
  background-image: url('parchment.jpg');
}

#rules-front {
  width: 40%;
  height: 40%;
  border: 3px solid goldenrod;
  border-radius: 5%;
  margin: 3%;
  padding: 2%;
  margin: 0 auto;
  background-image: url('parchment.jpg');
}

#bag-of-holding {
  border: 3px solid goldenrod;
  border-radius: 5%;
  margin: 3%;
  background-image: url('parchment.jpg');
  text-align: center;
  padding: 1%;
}

/*.clear {
  float: none;
}*/

/*.button-large {
  font-size: 110%;
}

.button-success {
  background: rgb(28, 184, 65);
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}*/

/*.headline {
  margin-left: 2%;
}*/

.home-headline {
  text-align: center;
}

#login {
  width: 40%;
  height: 30%;
  border: 3px solid goldenrod;
  border-radius: 10%;
  margin: 3%;
  padding-top: 6%;
  padding-bottom: 4%;
  margin: 0 auto;
  background-image: url('parchment.jpg');
  text-align: center;
}

.cards {
  background-image: url('parchment.jpg');
}

#card img {
  width: 200px;
  height: 270px;
  margin: 2%;
}

#card li {
  display: inline;
  float: left;
  list-style-type: none;
  margin: 5%;
  padding: 5%;
}

#done {
  text-align: center;
  margin: 0 auto;
}

.isactive {
  border: 5px solid goldenrod;
  opacity: 50%;
  background-color: lightgrey;
  padding: 1%;
  border-radius: 5%;
}


.gameboard header {
  text-align: center;
  margin: 0 auto;
  padding: 3%;
  color: goldenrod;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
